@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --blue: #120435;
  --yellow: #fbb728;
}

body {
  background-color: var(--blue);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hamburger-menu {
  font-size: 30px;
}

.hamburger-menu:hover {
  transform: scale(1.1);
}

.border-bottom {
  border-bottom: 1px solid white; 
} */